.conainer{
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    width: 200px;
}
.main{
    background-color: #edebeb;
    width: 450px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    margin-left: 200px;
}
.hi{
    width: 20px;
    height: 20px;
    border: 2px solid red;   
    margin-top: 20px;
    color: red;
    padding-left: 7px;
    border-radius: 50%;
}
.p1{
    color: #101828;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
}
.p2{
    color: #667085;
}
.btn1{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    width: 170px;
    height: 45px;
    margin-top: 30px;
    padding: 
    10px, 18px, 10px, 18px;
}
.btn2{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    width: 170px;
    height: 45px;
    margin-top: 30px;
    padding: 
    10px, 18px, 10px, 18px;  
    color: #FFFFFF;
    background-color: red;
    margin-left: 8px;
}