.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3563E9;
    color: #fff;
  }
  
  .logo img {
    height: 40px;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .navHome{
    font-weight: 700;
    color: #FFFFFF;
  }
  .navLinks li a {
    color: #E0E0E0;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .profileIcon img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
  }
  